<div class="cute-market-container">
    <header class="header">
        <div class="header-decoration left">🥗</div>
        <div class="header-text">
            <h1 class="title">Friendly Market</h1>
            <p class="subtitle">Fresh & happy groceries for your home</p>
        </div>
        <div class="header-decoration right">🍎</div>

        <nav class="filters">
            @for (cat of categories(); track cat) {
            <button class="filter-pill" [class.active]="selectedCategory() === cat" (click)="selectedCategory.set(cat)">
                {{ cat }}
            </button>
            }

        </nav>

        <div class="mt-4">
            <button class="btn btn-dark" (click)="openFormProduct('create')">Añadir Producto <i
                    class="bi bi-plus-square"></i></button>
        </div>


    </header>

    <div class="product-grid">
        @for (item of items(); track item.id) {
        <div class="product-card">
            <div class="image-box" [style.backgroundColor]="item.color">
                <img [ngSrc]="item.image" [alt]="item.product" width="120" height="120" class="item-img">
                <!-- @if (item.isPopular) {
                <span class="cute-tag">Favorite</span>
                } -->
            </div>

            <div class="info">
                <div class="category-row">
                    <span class="category-dot" [style.backgroundColor]="item.color"></span>
                    <span class="category-name">{{ item.category }}</span>
                </div>
                <h3 class="name">{{ item.product }}</h3>

                <div class="footer">
                    <div class="price-box">
                        <span class="price">${{ item.price | number:'1.2-2' }}</span>
                    </div>
                    <button class="add-btn" (click)="openFormProduct('edit', item)">
                        <span class="icon"><i class="bi bi-pencil-square"></i></span>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>