body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8fafc;
  color: #1e293b;
}

* {
  box-sizing: inherit;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
